
#eventForm {
  margin-top: 30px;
  border: 1px solid #5B5B5B;
  padding: 20px;
  padding-left: 20%;
  padding-top:40px;
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#buttonDiv {
  width:80%;
  text-align: center;
}

#submit {
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  height: 60px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #454545;
  border: 0;
  border-bottom: 2px solid #2f2e2e;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2f2e2e;
  box-shadow: inset 0 -2px #2f2e2e;
}

#left {
  width: 40%;
  font-size: 17px;
  font-weight: bold;
}

textarea, input {
  width: 80%;
}
