body
{
    padding:0px;
    overflow:hidden;
}

nav
{
    position: fixed;
    top:0px;
    left:-382px;
    width: 380px;
    height: 100%;
    padding: 0px;
    padding-top: 70px;
    background-color: #F1F1F1;
    border-right: 2px solid #2b2b2b;
    z-index: 50;
    margin:0;

    transition-property:all;
    transition-duration:0.4s;
}

nav .onglet
{
    position:relative;
    margin:0;
    text-align:center;
    font-size: 22px;
    height: 45px;
    width: 50%;
    color: #ffffff;
    background-color: #2b2b2b;
    margin-bottom:20px;
    padding-top:15px;
    margin-right:-2px;
    border-right: 1px solid #fff;
}

nav .onglet:hover
{
    background-color: #414141;
}

#onglet-esir
{
    float: left;
}

#onglet-ext
{
    left: 0px;
    float: right;
}

#hamburgerMenu
{
    background-color:#fff;
    height:100%;
}

#hamburgerMenu h2
{
    font-size:22px;
    color:#2b2b2b;
    margin-left:5%;
    margin-top:5%;
}

form
{
    margin-top:-20px;
    margin-left:20%;
    margin-bottom:-20px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(images/check_radio_sheet.png) -19px top no-repeat;
}

#AddEvent
{
    margin:0;
    margin-top:45px;
    text-align:center;
    font-size: 20px;
    padding-top:15px;
    height: 40px;
    width: 100%;
    position:absolute;
    color: #ffffff;
    background-color: #2b2b2b;
}

#container
{
    margin-top:120px;
}

#AddEvent:hover
{
    color: #2b2b2b;
    background-color: #40c1e6;
}

#calendar
{
    height:100%;
    margin:0;
    margin-left:-10px;
    background-color:#f1f1f1;
}

#footer
{
    position:fixed;
    background-color:#f1f1f1;
    bottom:0px;
    height:54px;
    color:#2b2b2B;
    margin:0;
    width:100%;
    border:1px solid #2b2b2b;
}

#Export
{
  float: right;
  margin-right:25px;
  margin-top:-30px;
}

#exMois
{
    margin-top:-10px;
    height:30px;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

#Mois
{
    text-align:center;
    font-size: 30px;
    margin-top:-45px;
}

#exLess
{
  width:40px;
  height:40px;
  float:right;
  margin-top:-40px;
}

#exMore
{
  width:40px;
  height:40px;
  padding-top:20px;
}


/*Calendar*/
#calendar {
    margin-top:60px;
    overflow-y: auto;
}

#calendar .week {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
}

#calendar .week .day {
  padding: 5px;
  width: 200px;
  height: 200px;
  margin:0;
  padding:0;

  border:1px solid #2b2b2b;
}

#calendar .week .today {
    background-color: #a5dff0;
}

#calendar .week .day:hover {
    background-color: #65ccea;
}

#calendar .week .day h2 {
    font-size: 2em;
    margin: 20px;
    color: #2B2B2B;
}

#calendar .week .day h2 .minititle {
    font-size: 0.5em;
    color: #4B4B4B;
}

#calendar .week .day h2 .left{
    margin-right: 0.5em;
}

#calendar .week .day h2 .right{
    margin-left: 0.0em;
}

#calendar .week .otherMonth h2 {
    color: #4B4B4B;
}

#calendar .week .day ul {
    margin-left: -20px;
    font-size:12px;
}

#calendar .week .day .calendar-link a {
    color: black;
    text-decoration: none;
}
