body
{
    padding:0px;    
    overflow:hidden;
}

#title
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    margin: 0px;
    background-color: #2b2b2b;
    z-index: 100;
}

a
{
	color:#5fd0f1;
	text-decoration:none;
}

#title img
{
	padding-top:25px;
	height: 100px;
}

#title .rightLogo
{
	float:right;
	margin-right:25px;
}

nav
{
    position: fixed;
    top:0px;
    left:0px;
    width: 380px;
    height: 100%;
    padding: 0px;
    padding-top: 150px;
    background-color: #F1F1F1;
    border-right: 2px solid #2b2b2b;
    z-index: 50;
    margin:0;
}

nav .onglet
{
    position:relative;
    margin:0;
    text-align:center;
    font-size: 22px;
    height: 45px;
    width: 50%;
    color: #ffffff;
    background-color: #2b2b2b;
    margin-bottom:20px;
    padding-top:15px;
    margin-right:-2px;
    border-right: 1px solid #fff;
}

nav .onglet:hover
{
    background-color: #414141;
}

#onglet-esir
{
    float: left;
}

#onglet-ext
{
    left: 0px;
    float: right;
}

#hamburgerMenu
{
	background-color:#fff;
}

#hamburgerMenu h2
{
	font-size:22px;
	color:#2b2b2b;
	margin-left:5%;
	margin-top:5%;
}

form
{
	margin-top:-20px;
	margin-left:20%;
	margin-bottom:-20px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(images/check_radio_sheet.png) -19px top no-repeat;
}

#AddEvent
{
	position:absolute;
	bottom:150;
	width:100%;
	margin:0;
	margin-top:20px;
	text-align:center;
	font-size: 20px;
	padding-top:15px;
	height: 40px;
	width: 100%;
	color: #ffffff;
	background-color: #2b2b2b;
}

#AddEvent:hover
{
	color: #2b2b2b;
	background-color: #40c1e6;
}

#calendar
{
	height:100%;
	margin:0;
	margin-left:-10px;
	background-color:#f1f1f1;
}

#footer
{
	position:fixed;
	background-color:#f1f1f1;
	bottom:0px;
	height:54px;
	color:#2b2b2B;
	margin:0;
	width:100%;
	border:1px solid #2b2b2b;
}

#Export
{
  float: right;
  margin-right:25px;
  margin-top:-30px;
}

#exMois
{
	margin-top:-10px;
	height:30px;
	width:30%;
	margin-left:auto;
	margin-right:auto;
}

#Mois
{
	text-align:center;
	font-size: 30px;
	margin-top:-45px;
}

#exLess
{
  width:40px;
  height:40px;
  float:right;
  margin-top:-40px;
}

#exMore
{
  width:40px;
  height:40px;
  padding-top:20px;
}


/*Calendar*/
table
{
  width:100%;
  margin:0;
  padding:0;
  border-style:none;
  table-layout: fixed;
}

tr
{
  height:250px;  
  border-style:none;
  margin:0;
  width:100%;
  padding:0;
}

td
{
  border-style:none;
  height:100%;
  margin:0;
  padding:0;
}

td:hover
{
    background-color: #40c1e6;
}

tr #date
{
  font-size:30px;
  margin:20px;
  color:#2b2b2b;
}

#calendar #event
{
  margin:0;
  border:1px solid #2b2b2b;
  height:100%;
  width:100%;
}

#link
{
  margin-left:10px;
  font-size:12px;
}







@media only screen and (max-width: 1000px) and (max-height: 500px){

#title
{
    height: 50px;
}

#title img
{
	padding-top:10px;
	height: 30px;
}

}
